<h1>Editing bloknot</h1>

<%= render 'form' %>

<button type="button" class="btn btn-success"><%= link_to 'Show', @bloknot %></button>|
<button type="button" class="btn btn-success"><%= link_to 'Back', bloknots_path %></button>
