<p id="notice"><%= notice %></p>

<p>
  <strong>Nameofbkoknot:</strong>
  <%= @bloknot.NameOfBkoknot %>
</p>


<%= link_to 'Edit', edit_bloknot_path(@bloknot) %> |
<%= link_to 'Back', bloknots_path %>
