<p id="notice"><%= notice %></p>

<p>
  <strong>Nameofbkoknot:</strong>
  <%= @bloknot.NameOfBkoknot %>
</p>


<button type="button" class="btn btn-success"><%= link_to 'Edit', edit_bloknot_path(@bloknot) %></button> |
<button type="button" class="btn btn-success"><%= link_to 'Back', bloknots_path %></button>
